<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Çalışma</title>

	<!--
			Google Font
			============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="index.html">Ana Sayfa</a></li>
						<li><a href="calisma.html">Çalışma</a></li>
						<li><a href="siralama.html">Sıralama</a></li>
						<li><a href="profil.html">Profil</a></li>
						<li>
							<a href="oturum.html">
								Oturum aç /
								Kaydol</a>
						</li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>

	</header>

	<!-- End Header Area -->


	<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h2 class="text-white">
						YETENEKLERİNİZ
					</h2>
					<br><br>
					<div class="courses pt-20">
						<a href="#" style="font-size: xx-large" data-wow-duration="1s" data-wow-delay=".3s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">C++</a>
						<a href="#" style="font-size: xx-large" data-wow-duration="1s" data-wow-delay=".6s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Algoritma Çözme</a>
						<a href="#" style="font-size: xx-large" data-wow-duration="1s" data-wow-delay=".9s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Java</a>
						<br><br>

						<a href="#" style="font-size: xx-large" data-wow-duration="1s" data-wow-delay="1.2s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Javascript</a>
						<a href="#" style="font-size: xx-large" data-wow-duration="1s" data-wow-delay="1.5s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Android</a>
						<a href="#" style="font-size: xx-large" data-wow-duration="1s" data-wow-delay="1.8s"
							class="primary-btn transparent mr-10 mb-10 wow fadeInDown">Veri Yapıları</a>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>

		</div>
		</div>
		</div>
		<div class="rocket-img">
			<img src="img/rocket.png" alt="">
		</div>
	</section>
	<!-- End Banner Area -->


	<!-- Start About Area -->
	<section class="about-area section-gap">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-5 col-md-6 about-content">
					<img class="img-fluid" src="img/Programlama-Dilleri-Arasindaki-Farklar.jpg" alt="">
					<br> <br> <br> <br> <br> <br> <br>
					<img class="img-fluid" src="img/web-development-min.png" alt="">

				</div>
				<div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
					<h1>
						HACKERTURKZ'DE SİZİN İÇİN HAZIRLADIKLARIMIZ
					</h1>
					<div class="wow fadeIn" data-wow-duration="1s">
						<h4 class="text">DİLLER</h4>

						<div class="courses pt-20">
							<a href="#" data-wow-duration="1s" data-wow-delay=".3s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">C</a>
							<a href="#" data-wow-duration="1s" data-wow-delay=".6s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">C++</a>
							<a href="#" data-wow-duration="1s" data-wow-delay=".8s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">C#</a>
							<a href="#" data-wow-duration="1s" data-wow-delay=".9s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Java</a>
							<a href="#" data-wow-duration="1s" data-wow-delay="1.2s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Javascript</a>
							<a href="#" data-wow-duration="1s" data-wow-delay="1.3s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Python</a>
							<a href="#" data-wow-duration="1s" data-wow-delay="1.4s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Ruby</a>
							<a href="#" data-wow-duration="1s" data-wow-delay="1.5s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Typescript</a>
							<a href="#" data-wow-duration="1s" data-wow-delay="1.6s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">PHP</a>

						</div>
						<br>
						<h4 class="text">PROBLEM ÇÖZME</h4>

						<div class="courses pt-20">
							<a href="#" data-wow-duration="1s" data-wow-delay=".3s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Algoritmalar</a>
							<a href="#" data-wow-duration="1s" data-wow-delay=".6s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Veri Yapıları</a>
						</div>
						<br>
						<h4 class="text">DİĞER</h4>

						<div class="courses pt-20">
							<a href="#" data-wow-duration="1s" data-wow-delay=".2s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Yapay Zeka</a>
							<a href="#" data-wow-duration="1s" data-wow-delay=".4s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">SQL</a>
							<a href="#" data-wow-duration="1s" data-wow-delay=".6s"
								class="primary-btn  mr-10 mb-10 wow fadeInDown">Veri Tabanı</a>
						</div>

					</div>
				</div>
	</section>
	<!-- End About Area -->


	<!-- Start Faculty Area -->
	<section class="faculty-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h1>Kurs Önerilerimiz</h1>
						<p>
							Kendinizi sıfırdan geliştirebilecğiniz udemy kurs önerilerimizle kendinizi birçok yönden
							geliştirebilirsiniz.
						</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center d-flex align-items-center">
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" src="img/faculty/java.png" alt="">
					</div>
					<div class="meta-text text-center">
						<h4>Mustafa Murat Çoşkun</h4>
						<p class="designation">Programlama Eğitmeni, Web and Mobile Developer</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
							<p>
								Java ile Nesne Yönelimli Programlamayı öğrenerek uzmanlaşmanın ve profesyonel
								uygulamalar geliştirmenin tadını çıkarın.

								Bu kursta sıfırdan Java ile Nesne Yönelimli Programlamanın tüm konseptlerini öğrenerek
								Javada hep beraber uzmanlaşmaya çalışacağız ve kurs bitiminde profesyonel Java
								uygulamaları çıkarabilecek seviyeye geleceğiz.
							</p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" src="img/faculty/python.png" alt="">
					</div>
					<div class="meta-text text-center">
						<h4>Şadi Evren Şeker</h4>
						<p class="designation">Researcher in Computer Science and Business Analytics</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
							<p>Python kullanarak makine öğrenmesi algoritmaları geliştireceksiniz.
								Makine öğrenmesi algoritmalarını gerçek hayat problemlerine uygulayacaksınız.
								Veri ön-işleme aşamalarını kavrayacaksınız.
								Tahmin, regresyon, sınıflandırma ve kümeleme algoritmalarıyla çalışacaksınız.
								Derin öğrenme ve doğal dil işleme projeleri geliştireceksiniz.
								Model seçimi ve kollektif öğrenme konularına hakim olacaksınız.
							</p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" src="img/faculty/android.png" alt="">
					</div>
					<div class="meta-text text-center">
						<h4>Atil Samancıoğlu</h4>
						<p class="designation">Bestselling Instructor</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
							<p>
								Android uygulamalarını yazabilir hale geleceksiniz
								Java'nın tüm temellerine hakim olacaksınız
								Kotlin'in tüm temellerine hakim olacaksınız
								Uygulamalarınızı Google Play'e yükleyip herkese ulaştıracak kadar uzmanlaşacaksınız
								İlgili konuları "Kenny'i Yakala Oyunu", "Instagram Klonu", "Foursquare Klonu", "Tatil
								Kitabım", "Sanat Kitabım" ve "Survivor Bird"
								gibi yaratıcı ve eğlenceli uygulamalar geliştirerek öğreneceksiniz. </p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" src="img/faculty/php.png" alt="">
					</div>
					<div class="meta-text text-center">
						<h4>Tayfun Erbilen</h4>
						<p class="designation">Web Developer</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
							<p>
								PHP Bilginizi Sıfırdan İleri Seviyeye Taşıyacaksınız
								Her Türlü Web Projesini Yapabilir Duruma Geleceksiniz
								Algoritmik Düşünme Yeteneğinizi Geliştireceksiniz
								Veritabanları hakkında bilgi sahibi olacak, MySQL'i iyi derecede kullanmayı
								öğreneceksiniz
								Nesne Yönelimli Programlama (OOP) Konusunda Bilgi Sahibi Olacaksınız
								Güvenli Kod Yazmayı Öğreneceksiniz
								RegEx Desenlerini Öğreneceksiniz
								Bot Yazım Mantığını Öğreneceksiniz </p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Faculty Area -->


	<!-- Start Testimonials Area 
	<section class="testimonials-area section-gap">
		<div class="container">
			<div class="testi-slider owl-carousel" data-slider-id="1">
				<div class="item">
					<div class="testi-item">
						<img src="img/quote.png" alt="">
						<h4>Fanny Spencer</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
								across her face <br> and She is the host to your journey.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<img src="img/quote.png" alt="">
						<h4>Fanny Spencer</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
								across her face <br> and She is the host to your journey.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<img src="img/quote.png" alt="">
						<h4>Fanny Spencer</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
								across her face <br> and She is the host to your journey.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						<img src="img/quote.png" alt="">
						<h4>Fanny Spencer</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
								across her face <br> and She is the host to your journey.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/t1.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/t2.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/t3.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/t4.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
			</div>
		</div>
	</section>
	End Testimonials Area -->


	<!-- Start Footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Top Products</h4>
					<ul>
						<li><a href="#">Managed Website</a></li>
						<li><a href="#">Manage Reputation</a></li>
						<li><a href="#">Power Tools</a></li>
						<li><a href="#">Marketing Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Features</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Experts</a></li>
						<li><a href="#">Agencies</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 single-footer-widget">
					<h4>Arama</h4>
					<p>İstediğiniz konuda arama yapabilirsiniz.</p>
					<div class="form-wrap" id="mc_embed_signup">
						<form target="_blank"
							action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Arama" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Arama '" required="" type="email">
							<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="footer-bottom row align-items-right">
				<div class="col-lg-4 col-md-12 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#"></a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
	</script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/owl-carousel-thumb.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>